#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display :flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;


}
.skillDesc {
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 50rem;
    padding: 0 2rem;
}
#skills{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skillDesc , .skillTitle{
justify-content: center;
padding: 0 2rem ;

}
.skillDesc:hover {
    color: aqua;
    transform : scale(1.2);
    overflow: hidden; /* Ensures the image doesn't overflow its container */
    display: inline-block; /* Adjust based on your layout needs */
    position: relative;
    width: 700px; /* Set a desired width */
    height: 100px;
    transition: transform 1.5s ease;
    padding-bottom: 50px;
    
}
.skillTitle:hover{
    color: aqua;
    transform : scale(1.2);
    overflow: hidden; /* Ensures the image doesn't overflow its container */
    display: inline-block; /* Adjust based on your layout needs */
    position: relative;
    width: 200px; /* Set a desired width */
    height: 100px;
    transition: transform 1.5s ease;
    
}
@media screen and (max-width: 720px){
    .skillDesc>p{
        font-size: 2vw;

    }
    
}
@media screen and (max-width: 480px){
    .skillDesc>p{
        font-size: 3vw;
    }
    
    
}


 
  